# Virtual Environment
venv/
.env

# Databases / caches
chroma_db/
.gradio/

# Torch wheel (local installation files)
torch-*.whl

# Python cache
.venv/
__pycache__/
*.pyc
chroma_db/
knowledge/
.gradio/
.env